<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.blog.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.zt.blog.bean.Blog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="firstPicture" column="first_picture" jdbcType="VARCHAR"/>
            <result property="flag" column="flag" jdbcType="VARCHAR"/>
            <result property="viewCnt" column="view_cnt" jdbcType="INTEGER"/>
            <result property="appreciation" column="appreciation" jdbcType="TINYINT"/>
            <result property="shareStatement" column="share_statement" jdbcType="TINYINT"/>
            <result property="reviewable" column="reviewable" jdbcType="TINYINT"/>
            <result property="recommend" column="recommend" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="typeId" column="type_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="published" column="published" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        first_picture,flag,view_cnt,
        appreciation,share_statement,reviewable,
        recommend,create_time,update_time,
        type_id,user_id,description,
        published
    </sql>
    <select id="getTypeIdByTopN" resultType="java.lang.Integer">
        SELECT type_id FROM t_blog GROUP BY type_id ORDER BY COUNT(*) DESC LIMIT #{size};
    </select>
    <select id="getAllYear" resultType="java.lang.String">
        SELECT DISTINCT DATE_FORMAT(update_time, '%Y')   AS YEAR FROM t_blog ORDER BY YEAR DESC;
    </select>
    <select id="listByYear" resultMap="BaseResultMap">
        SELECT * FROM t_blog WHERE DATE_FORMAT(update_time, '%Y') = #{year} order by update_time desc;
    </select>
</mapper>
